@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Josefin Sans', sans-serif;
    background-image: url(imagens/bg-pattern-desktop.svg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main.media-text {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    align-items: center;

    width: 100vw;
    height: 100vh;

}

div.text {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    max-width: 40vw;
    min-width: 30vw;
}

h1 {
    text-align: justify;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 30px;
    color: hsl(0, 36%, 65%);
}

span {
    font-weight: 600;
    color: black;
}

p {
    font-size: 25px;
    line-height: 1.7em;
    text-align: justify;
    color: hsl(0, 28%, 73%);
    max-width: 665px;
}

 picture > img {
    width: 40vw;
    height: 100vh;
    object-fit: cover; /* recorta sem distorcer */
}

.logo {
    position: absolute;
    top: 5vw;
    left: 31vh;
    height: auto;
    width: 220px;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

input#email {
    width: 275px;
    height: 25px;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 50px;
    background-color: transparent;
}